.works{
    margin-top: 160px;
    &__title{
        h1{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            text-align: center;
            color: #22343D;
        }
    }
    &__cards{
        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin-top: 50px;
            li{
                width: 350px;
                border: 1px solid #cac7c7;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 15px;
                text-align: center;
                h4{
                    margin-top: 32px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: #22343D;

                }
                p{
                    margin-top: 16px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 27px;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: #22343D;

                }
            }
        }
    }
    &__product{
        margin-top: 101px;
        &__title{
            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 34px;
                line-height: 51px;
                text-align: center;
                color: #22343D;
            }
        }
        &__apply-1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 73px;
            &_left{
                margin-left: 150px;
            }
            &_right{
                margin-right: 150px;
                h6{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: #22343D;

                }
                h4{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: #22343D;
                }
                p{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #22343D;
                }
            }
        }
        &__apply-2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            &_left{
                margin-left: 150px;
            }
            &_right{
                margin-right: 150px;
                h6{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: #22343D;

                }
                h4{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: #22343D;
                }
                p{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #22343D;
                }
            }
        }
        &__apply-3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            &_left{
                margin-left: 150px;
            }
            &_right{
                margin-right: 150px;
                h6{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    color: #22343D;

                }
                h4{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: #22343D;
                }
                p{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #22343D;
                }
            }
        }
        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 77px;
            button{
                background: #02897A;
                border-radius: 8px;
                width: 224px;
                height: 44px;
                border: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                margin-top: 77px;
                margin: 0 auto;
            }
        }

    }
}