.enterprice{
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #22343D;
        }
        h2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            color: #22343D;
        }
        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #22343D;
        }
        button{
            background: #02897A;
            border-radius: 8px;
            width: 224px;
            height: 44px;
            border: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin-top: 32px;
        }
    }
    &__product{
        margin-top: 201px;
        &__title{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            color: #22343D;
            text-align: center;
        }
        &__all{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 63px;
            &__right{
                ul{
                    list-style-type: none;
                    h4{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #22343D;
                        img{
                            margin-right: 15px;
                        }
                    }
                    p{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                        display: flex;
                        align-items: center;
                        color: #22343D;
                        margin-top: 23px;
                    }
                }
            }
        }
    }
}