.footer{
    &__list{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        &__text2{
            h3{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #22343D;
            }
            a{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 35px;
                color: #22343D;
                text-decoration: none;
            }
        }
        &__text3{
            h3{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #22343D;
            }
            a{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 35px;
                color: #22343D;
                text-decoration: none;
            }
        }
        &__text4{
            h3{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #22343D;

            }
            input{
                background: #FFFFFF;
                border: 1px solid #BCD0E5;
                border-radius: 4px;
                width: 325px;
                height: 48px;
                outline: none;
                margin-top: 44px;
            }
            button{
                background: #02897A;
                border-radius: 4px;
                width: 131px;
                height: 39px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                border: none;
                margin-top: 21px;
            }
        }
    }
}